@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--text);
}
:root{
    --primary:#2374e1;
    --dark:#18191a;
    --semi-dark:#242526;
    --soft-dark:#3a3b3c;
    --danger:#e41e3f;
    --success:#31a24c;
    --warning:#f7b928;
    --text:#dbdce1;
    --text-light: #f8f8f9;
}
body{
    background-color: var(--dark);
}
.nav{
    /* height: 60px; */
    background-color: var(--semi-dark);
    display: flex;
}
.left{
    width: 25%;
}
.left-box{
    display: flex;
    padding: 10px;
}
.logo{
    width: 40px;
    margin-right: 10px;
}
.search-box{
    display: flex;
    padding: 10px 15px;
    align-items: center;
    border-radius: 100px;
    background-color: var(--soft-dark);
   
}
.search-box .feather-search{
    margin-right: 10px;
}
.search-input{
    color: var(--text);
    background-color: var(--soft-dark);
    border: none;
}
.search-input:focus{
    outline: none;
}
/* style for center */
.center{
    width: 50%;
}
.center-box{
    display: flex;
    justify-content: center;
    
}
.center-link{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px;
    margin: 0px 5px;
    border-top: 7px solid var(--semi-dark);
    border-bottom: 4px solid var(--semi-dark);
    position: relative;
}
.center-link:hover{
    background-color: var(--soft-dark);
    border-radius: 10px;
}
.center-link.active{
    border-bottom-color: var(--primary);
}
.center-link.active .center-icon{
    color: var(--primary);
}
.center-link.active:hover{
    background-color: var(--semi-dark);
    border-radius: 0px;
}

.center-icon{
    font-size: 26px;
}
.center-link .notification{
    position: absolute;
    background-color: var(--danger);
    border-radius: 10px;
    padding: 1px 5px;
    color: var(--text);
    font-weight: bolder;
    font-size: 12px;
    top: 5px;
    right: 24px;
}
.right{
    width: 25%;
}
.right-box{
    display: flex;
    justify-content: flex-end;
}
.profile{
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 15px;
    transition: 0.5s;
}
.profile:hover{
    background-color: var(--soft-dark);
    border-radius: 20px;
}
.profile-photo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}
.profile-text{
    color: var(--text);
    font-weight: bolder;
}
.right-notification-box{
    display: flex;
    align-items: center;
}
.right-notification{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--soft-dark);
    margin:  5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* fb-body */

.fb-body{
    display: flex;
}
.left-aside{
    width: 25%;
}
.new-feed{
    width: 50%;
}
.my-day-list{
    display: flex;
    justify-content: center;
    position: relative;
  
}
.my-day{
    width: 120px;
    height: 200px;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    margin-top: 20px;
    margin-right:7px ;
}
.my-day-owner{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 8px;
    top: 10px;
}
.online{
    width: 10px;
    height: 10px;
    /*border: 1px solid black;*/
    position: absolute;
    background-color: #45bd62;
    border-radius: 50%;
    right: 4px;
    top: 31px;
}
.scroll-myday{
    width: 40px;
    height: 40px;
    background-color: var(--soft-dark);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 98px;
    right: 53px;

}

.my-day-owner.first{
    background-color: var(--semi-dark);
}
.my-day-owner .feather-plus{
    background-color: var(--soft-dark);
    width: 33px;
    height: 33px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.my-day-ownerimg{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-size: 100%;
    background-position: center;
}
.my-day-text{
    position: absolute;
    bottom: 10px;
    color: var(--text-light);
    font-weight: bolder;
    padding: 5px;
}
.my-day-image{
    width: 100%;
}
/* post create box */
.add-post{
   background-color: var(--semi-dark);
   border-radius: 20px;
   margin: 20px 70px;
   padding: 10px 20px;
}
.add-post-box{

}
.add-text{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.post-owner-photo{
   width: 50px;
   height: 50px;
   border-radius: 50%;
    margin-right: 10px;
}
.write-box{
    display: flex;
    padding: 10px 15px;
    border-radius: 100px;
    background-color: var(--soft-dark);
    flex-grow: 1;
}
.write-input{
    color: var(--text);
    background-color: var(--soft-dark);
    border: none;
    font-size: 18px;
    width: 100%;
}
.write-input:focus{
    outline: none;
}
.divider{
    border: 1px solid var(--soft-dark);
    margin: 10px;
}
.add-file div{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
}
.add-file div:hover{
    background-color: var(--soft-dark);
}
.add-file{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-file .video i{
    color: var(--danger);
    margin-right: 10px;
    font-size: 20px;
}
.add-file .photo i{
    color: var(--success);
    margin-right: 10px;
    font-size: 20px;
}
.add-file .emoji i{
    color: var(--warning);
    margin-right: 10px;
    font-size: 20px;
}
.add-file span{
    color: #7b7b83;;
}
.create-room-box{
    background-color: var(--semi-dark);
    border-radius: 20px;
    margin: 20px 70px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.room-call{
    width: 140px;
    border: 1px solid var(--primary);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
    overflow: hidden;
}
.create-room-icon{
    font-size: 20px;
    margin-right: 5px;
    color: #8337c9;
}
.room-call span{
    color: var(--primary);
}
.online-people{
    display: inline-block;
    align-items: center;
    margin-left: 15px;
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-size: cover;
}
.green-online{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--success);
    position: absolute;
    border: 3px solid var(--dark);
    right: 2px;
    top: 34px;
}
.scroll{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--soft-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 12px;
}
.post-list{

}
.chat-box{
    width: 25%;
}